<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.player.cangwang">

    <dist:module
        dist:instant="false"
        dist:onDemand="true"
        dist:title="@string/title_player">
        <dist:fusing dist:include="true" />
    </dist:module>
    <application>
        <activity android:name=".IjkplayerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <service android:name=".services.MediaPlayerService"/>
    </application>
</manifest>

